* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.img__link {
  margin: auto;
}

.img__cover {
  transition: all 0.2s ease-in;
}

.img__cover:hover {
  transform: scale(1.3);
  cursor: pointer;
}
